node_modules/
build/
dist/
.next/
out/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.sql
*.csv
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backup and scripts
_backup/
scripts/migration-data.json
.vercel
